<launch>
    <include file="$(find provin_ground)/launch/perception.launch" />
    <!-- global path and local path publisher -->
    <node name="global_path_node" pkg="provin_ground" type="global_path_publisher" output="screen">
        <param name="path_file" value="/root/erp42_ws/src/provin_ground_cpp/path/interpolated_ctrack_vils.csv"/>
        <param name="utm_x_offset" value="0.0"/>
        <param name="utm_y_offset" value="0.0"/>
    </node>
    <node name="local_path_node" pkg="provin_ground" type="local_path_publisher" output="screen"/>
    
    <!-- avoid path and control publisher -->
    <node pkg="provin_ground" type="kt_camera_distance.py" name="kt_camera_distance" output="screen" />
    <node pkg="provin_ground" type="kt_controller_pp" name="kt_controller_pp" output="screen" />
</launch>