<launch>
    <node name="utm_pose_publisher" pkg="provin_ground" type="utm_pose_publisher" output="screen">
        <param name="base_offset_x" value="0"/>
        <param name="base_offset_y" value="0.16"/>
        <param name="base_offset_z" value="0"/>
    </node>
    <node name="pure_pursuit" pkg="provin_ground" type="pure_pursuit_solo" output="screen">
        <param name="waypoint_file" value="/home/a/erp42_ws/src/provin_ground_cpp/path/interpolated_ctrack_vils.csv"/>
    </node>
</launch>